<!--Testimonials-->
<aside id="testimonials" class="scrollto text-center" data-enllax-ratio=".2">

  <div class="row clearfix">

    <div class="section-heading">
      <h3>FEEDBACK</h3>
      <h2 class="section-title">What our customers are saying</h2>
    </div>

    <!--User Testimonial-->
    <blockquote class="col-3 testimonial classic" *ngFor="let feature of testimonials.features">
      
        <img src="../assets/images/user-images/{{ feature.image }}" alt="User" />
        <q>{{ feature.description }}</q>
        <footer>{{ feature.name }}</footer>
      
    </blockquote>
    <!-- End of Testimonial-->
   
  </div>

</aside>
<!--End of Testimonials-->